[submodule "cookbooks/chef-rvm"]
	path = cookbooks/rvm
	url = https://github.com/adz/chef-rvm.git
[submodule "cookbooks/redis-cookbook"]
	path = cookbooks/redis-cookbook
	url = https://github.com/papercavalier/redis-cookbook
